// ::ng-deep #gauge {
//   height: 440px;
//   width: 100%;
// }



// .box-item{
//     text-align: center;
//     padding-top: 34px;
//     font-size: 16px;
// }

// .orange{background: #f39e6c;}
// .yellow{background: #f5e5a6}
// .green{background: #94d7c7;}