<!-- <dx-bar-gauge
  id="gauge"
  [startValue]="0"
  [endValue]="100"
  [values]="[47.27, 65.32, 84.59, 71.86]"
></dx-bar-gauge> -->

<!-- <dx-box
    direction="row"
    [height]="100">
    <dxi-item class="box-item orange" [ratio]="1"> Item 1 </dxi-item>
    <dxi-item class="box-item yellow" [ratio]="1"> Item 2 </dxi-item>
    <dxi-item class="box-item green"  [ratio]="1"> Item 3 </dxi-item>
</dx-box> -->

<!-- 
<dx-bullet  
[value]="bulletOptions.value"
[startScaleValue]="bulletOptions.startScaleValue"
[endScaleValue]="bulletOptions.endScaleValue"
[target]="bulletOptions.target"
[showZeroLevel]="bulletOptions.showZerolevel"
>  </dx-bullet> -->


<!-- 
<dx-button icon="edit"></dx-button>
<dx-button icon="trash"></dx-button> -->



<!-- <dx-button-group   
[items]="fontStyle"
keyExpr="style"
[(selectedItemKeys)]="font"
selectionMode="multiple"
[(selectedItemKeys)]="selectedFontStyleNames"
(onSelectionChanged)="logSelectionChanged()"
></dx-button-group> -->

<!-- 
<dx-calendar
  [min]="minDate"
  [max]="maxDate"
  [showTodayButton]="true"
  [showWeekNumbers]="true"
  weekNumberRule="firstDay"
  cellTemplate="cell"
  [disabledDates]="disabledDates">

  <span
    *dxTemplate="let cell of 'cell'"
    [ngClass]="getCellCssClass(cell.date, cell.view)">
    {{ cell.text }}
  </span>

</dx-calendar> -->



 <!-- <dx-chart [dataSource]="store" title="Users" >
    <dxi-series argumentField="name"
    valueField="id" 
    type="bar"></dxi-series>
 </dx-chart> -->

<!-- <dx-check-box
[value]="null"
[enableThreeStateBehavior]="true"
text="Approve"
hint="Approve"
iconSize="25"
(onValueChanged)="Changed($event)"
></dx-check-box>
  -->





